
body{
    background-color: #1f1d1d;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#follower {
  position: fixed;             /* Stay relative to viewport */
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;        /* Let clicks pass through */
  transition: transform 0.1s ease-out;  
}

.cursor_anchor_styling{
    position: fixed;             /* Stay relative to viewport */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;        /* Let clicks pass through */
    transition: transform 0.1s ease-out;  
}


#canvas{
    background-color: aliceblue;
    border-radius: 10px;
}

#clear_btn:hover{
    background-color: red;
}

.draw_toggle_indication{
    background-color: greenyellow;
}

.eraser_toggle_indication{
    background-color: gold;
}