
body{
    background-color: #1f1d1d;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#canvas{
    background-color: aliceblue;
    border-radius: 10px;
}

#clear_btn:hover{
    background-color: red;
}

.draw_toggle_indication{
    background-color: greenyellow;
}